.container {
    width: 1000px;
    margin: auto;
}

.flex {
    display: flex;
}

header {
    background-color: yellow;
    align-items: center;
}

.logo {
    width: 700px;
    padding: 20px 10px;
}

nav {
    width: 300px;
}

.blue {
    background-color: blue;
    padding: 20px;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    background-color: pink;
    height: 190px;
    width: 190px;
    margin-bottom: 20px;
}

aside {
    background-color: red;
    width: 300px;
    padding: 20px 10px;
}
