body {
    background-color: chocolate;
    margin: 0;
    height: 5000px;
}

.burger-menu {
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: 0.5s;
}

.burger-menu ul {
    padding-top: 100px;
}

#burger-click:checked + .burger-menu {
    transform: translateX(20%);
}

#burger-click:checked ~ header span {
    background-color: #000;
    position: relative;
}

#burger-click:checked ~ header span:first-child {
    transform: rotate(405deg);
    top: 10px;
}

#burger-click:checked ~ header span:nth-child(2) {
    opacity: 0;
}

#burger-click:checked ~ header span:last-child {
    transform: rotate(-405deg);
    top: -10px;
}

#burger-click {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 30px 20px;
    position: fixed;
    z-index: 1;
    width: 100%;
    /* border-box fait que le padding est contenu
       dans les 100% */
    box-sizing: border-box;
}

header h2 {
    margin: 0;
}

.burger span {
    display: block;
    width: 32px;
    height: 4px;
    margin: 6px 0;
    background-color: #fff;
    transition: 0.5s;
}
